* {
    font-family: arial, sans-serif;
}

body {
    background-color: #cbdad5;
}

.calculator-all {
    width: 250px;
    height: 300px;
    padding: 10px;
    background-color: #000000;
    border: 3px solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 120px;


}

.title {
    text-align: center;
    color: #ffffff;
}

.text {
    color: #ffffff;
}

.calculator {
    align-content: center;
}

input {
    width: 108px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color:#ffffff;
}

button {
    width: 45px;
    height: 30px;
    border-radius: 20px;
   background-color:#5a5a5a;
    color: rgb(4, 206, 4);
    margin-top: 5px;
}
