* {
    font-family: arial, sans-serif;
}

body {
    background-color: #505050;
}

.calculator-all {

    width: 250px;
    height: 300px;
    padding: 10px;
    background-color: #000000;
    border: 3px solid;
    border-radius: 5px;
    zoom: 150%;

   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);


}

.title {
    text-align: center;
    color: #ffffff;
    padding: 10px;
}


.text {
    color: #ffffff;
    
}
table,td{
      max-width: 125px;
      min-width: 125px;
      min-height: 80px;
}

.calculator {
    align-content: center;
}

input {
    
    width: 105px;
    height: 25px;
    border-radius: 10px;
    background-color: #ffffff;
}

button {
    width: 45px;
    height: 30px;
    border-radius: 20px;
    background-color: #5a5a5a;
    color: rgb(4, 206, 4);
}

.xxx{
   padding-left: 100px;
}
